.howto_2{
    font-size: large;
    font-weight: bold;
    padding: 20px;
}

h2 {
    padding-bottom: 60px;
    font-size: 17pt;
    font-family: 'GmarketSansMedium'
}

.Display{
    position: relative;
    display: inline-block;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.howtotitle {
    position: static;
    font-family: 'Cafe24Ssurround';
    color: #840418;
    font-Size: 40pt;
    font-Weight: bold;
    text-Align: center;
    margin-top: 70%;
}

.howtobutton {
    border: none;
    border-radius: 10vh;
    background-color: #840418;
    bottom: 0px;
    right: 0px;
    position: fixed;
    font-family: 'Cafe24Ssurround';
    color: #FFFFFF;
    font-Size: 32pt;
    font-Weight: bold;
    text-Align: center;
    align-items: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    display: flex;
}
