body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loader {
  position: relative;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #840418;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  animation: spin 2s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1{
  position: relative;
}


h1 span {
  position: relative;
  padding: 10px;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Moirai One', cursive;
  font-size: 48px;
  color: #840418;
  text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) {
  animation-delay: .1s;
}

h1 span:nth-child(3) {
  animation-delay: .2s;
}

h1 span:nth-child(4) {
  animation-delay: .3s;
}

h1 span:nth-child(5) {
  animation-delay: .4s;
}

h1 span:nth-child(6) {
  animation-delay: .5s;
}

h1 span:nth-child(7) {
  animation-delay: .6s;
}

h1 span:nth-child(8) {
  animation-delay: .7s;
}

h1 span:nth-child(9) {
  animation-delay: .8s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #CCC,
      0 2px 0 #CCC,
      0 3px 0 #CCC,
      0 4px 0 #CCC,
      0 5px 0 #CCC,
      0 6px 0 #CCC,
      0 7px 0 #CCC,
      0 8px 0 #CCC,
      0 9px 0 #CCC,
      0 50px 25px rgba(0, 0, 0, .2);
  }
}