.LogInBody {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.login-wrapper {
    width: 400px;
    height: 350px;
    padding: 10px;
    box-sizing: border-box;
}

.login-wrapper h1 {
    font-family: 'Moirai One';
    font-size: 40pt;
    color: #840418;
    text-align: center;
    padding: 20pt;
}

#loginform input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    border: none;
    background-color: #F8F8F8;
}

#loginform input::placeholder {
    color: #D2D2D2;
    font-size: 14px;
}

#loginform input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background-color: #840418;
    margin-top: 20px;
    border: none;
}

#loginform input[type="checkbox"] {
    display: none;
}

#loginform label {
    color: #999999;
}

#loginform input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 26px;
    background-repeat: no-repeat;
    background-size: contain;
}

#loginform input[type="checkbox"]:checked + label {
    background-repeat: no-repeat;
    background-size: contain;
}

.sign-up {
    display: block;
    justify-content: space-between;
    align-items: center;
}


.sign-up hr {
    border: solid 1px #D2D2D2;
    width: 100%;
    margin-top: 5pt;
}

.register {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 10pt;
    background-color: transparent;
}