.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: column;
    justify-content: left;
}

.but1 {
    position: relative;
    background-color: #840418;
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 10pt;
    cursor: pointer;
    margin: 10px;
    font-family: 'GmarketSansMedium'
}