

.registerPage {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.register-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-family: 'Moirai One';
    color: #840418;
    font-size: 40pt;
    text-align: center;
    padding: 50px;
}

#register-form {
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}
tr{
    width: 100%;
}

td {
    text-align: left;
    margin: 20pt;
}

#register-form input {
    width: 70%;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ffffff;
}
#register-form select {
    width: 100;
    height: 100%;
}
#register-form input[type="email"] {
    width: 50%;
}


#register-form input[type="submit"] {
    color: #fff;
    font-size: 16px;
    background-color: #840418;
    margin-top: 20px;
    padding-left: 0px;
    width: 200px;
}
