.registerPage {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    margin-top: 10%;
}

.register-label {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 30px;
}

tr{
    width: 100%;
    border-spacing: 0;
}

th{
    display: inline-block;
    width: max-content;
    text-align: left;
    border-spacing: 0;
}

td {
    text-align: left;
    align-self: center;
    align-content: center;
    width: 100%;
    border-spacing: 0;

}

h1 {
    font-family: 'Moirai One';
    color: #840418;
    font-size: 50pt;
    text-align: center;
    padding: 20px;
}

#register-wrapper {
    position: relative;
    display: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: auto;
    background-color: #f1f1f1;
    width: 100%;
}

#register-form {
    position: relative;
    align-items: left;
    text-align: left;
    cursor: pointer;
    border-spacing: 0;
    padding-left: 20px;
}

.Sign {
    border: none;
    position: relative;
}

#register-form input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ffffff;
    border: none;
}
#register-form select {
    width: 30%;
    height: 100%;
    display: inline;
    border: none;
}
#register-form input[type="email"] {
    width: 60%;
    border: none;
    align-content:flex-end
}

#register-form input[type="button"] {
    position: flex;
    color: #fff;
    font-size: 12pt;
    background-color: #840418;
    padding-left:10%;
    padding-right:10%;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 40%;
    height: 20%;
    text-align: center;
}
