body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 1rem;
  opacity: 0.7;
  color: black;
  background: white;
  box-shadow: black 0px 0px 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recommend {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.recommend:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  background: #840418;
  box-shadow: 0 0 0 3px #840418;
  cursor: pointer;
}


.outer {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  overflow-x: hidden;
}

.inner {
  display: flex;
  transition: .3s ease-out;
  height: 100%;
}

.inner:hover img {
  transform: translateX(-50%)
}

.in {
  size: 500px;
  transition: .3s ease-out;
  height: 100%;
}